.gradient-custom {
    /* fallback for old browsers */
    background: #f093fb;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom right, rgb(155, 9, 9), rgb(8, 142, 19));
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom right, rgb(47, 22, 207), rgb(157, 168, 114))
  }
  .card-registration, .card-registration input, .card-registration select, .card-registration button, .card-registration label, .card-registration h3 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  .mb-4 {
    font-weight: bolder;
  }
  .mb-4 button[type="button"] {
    height: 50px;
    width: 210px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 22px;
    border: 1px solid #ccc;
  }
  .btn-primary:disabled {
    background-color: #808080;
    opacity: 0.5;
    width: 650px; 
  }
  
  .btn-primary {
    background-color: #007bff;
    width: 650px; 
  }